aniso8601==3.0.2
certifi==2018.11.29
cloudinary==1.14.0
Django==2.2.24
django-filter==2.0.0
django-graphql-jwt==0.1.13
geopy==1.18.1
graphene==2.1.3
graphene-django==2.2.0
graphene-file-upload==1.2.2
graphql-core==2.1
graphql-relay==0.4.5
gunicorn==19.6.0
mock==2.0.0
pbr==5.1.1
promise==2.2.1
PyJWT==1.6.4
pytz==2018.5
Rx==1.6.1
singledispatch==3.4.0.3
six==1.11.0
urllib3==1.24.1
psycopg2==2.7.6
